pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background:#fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0px 0px 7px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0px 0px 7px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 7px rgba(0,0,0,0.2);
    padding:10px;
    margin:0 50px 20px 50px;
    border:1px solid #ddd;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size:0.9em;
}


.ta {
    display: block;
    border: 5px solid grey;
    padding: 10px;
}
textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}



html {
	color: black;
	background-color: #f0f0f0;
	margin: 0px;
	padding:0px;
}
body {
	margin: 0px;
	padding:0px;
	font: 16px "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: black;
	background-color: #f0f0f0;

	margin: 0px;
	padding: 0px;
}
.underline {
    border-bottom: 1px solid grey;
    width: 100%;
}

h1 { font-size: 2.20em; }
h2 { font-size: 1.90em; }
h3 { font-size: 1.55em; }
h4 { font-size: 1.30em; }
h5 { font-size: 1.10em; }
h6 { font-size: 1.00em; }

h3 a {
	text-decoration: none;
}
img {
	border-style: none;
}

h1, h3, h4, h5, h6 {
	color: black;
	font-weight: bold;
	margin-bottom: 0;
	text-align: left;
	font-family: Georgia, "Hoefler Text", "DejaVu Serif", "Bistream Vera Serif", "Lucida Bright", serif;
}



a {
	text-decoration: none;
	color: #cc0033;
}

a:link {
	color: #cc0033;
	text-decoration: none;
}
a:visited {
	color: #cc0033;
}
a:hover {
	text-decoration: none;
	color: red;
}

a:active {
	color: #fff;
	background: transparent;
}


#header {
	height:96px;
	background-color: white;
	border-bottom:1px solid black;

}
#header h1, #header h2 {
	margin-left:2em;
}

#logo {
	float:left;
}

#logo h1{
	font: 14px "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size:26px;
	color:#F76B0C;
	font-weight:normal;
	text-decoration:none;
}
#logo h1 a {
	text-decoration: none;
}
#logo h4 {
	font: 14px "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#808080;
	font-weight:normal;
	text-decoration:none;
	padding-left:75px;
}

#links ul {
	margin:0px;
	padding-top:70px;
	float: right;

}

#links li{
	float:left;
	list-style-type:none;
	width:129px;
	height:25px;
	text-align:center;
	background-color:#f0f0f0;
	border-left:1px solid black;
	border-top:1px solid black;
	padding-top:4px;
}
#links li:hover {
	background-color: silver;
}
#links a{
	display:block;
	font: 14px "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size:11px;
	color: #cc0033;
	font-weight: bold;
	text-decoration: none;

}

#links a:hover {
	color: red;
}
