<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Quick and easy sharing of markdown text" />
<meta name="keywords" content="markdown, pastebin, markdownsharing, sharing markdown" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="author" href="/humans.txt" />
<title>MarkdownShare : Markdown Cheatsheet</title>
</head>
<body>
<div id="wrap">
<!-- tmpl_include name='header.inc' -->
<div id="content">
      <h1>Markdown Cheatsheet</h1>
      <blockquote>
        <table width="60%">
          <tr><td># Heading 1</td><td><h1>Heading</h1></td></tr>
          <tr><td>## Heading 2</td><td><h2>Heading</h2></td></tr>
          <tr><td>### Heading 3</td><td><h3>Heading</h3></td></tr>
          <tr><td>**bold**</td><td><b>bold</b></td></tr>
          <tr><td>_italic_</td><td><i>italic</i></td></tr>
          <tr><td>[me](http://steve.org.uk/)</td><td><a href="http://steve.org.uk/">me</a></td></tr>
        </table>
        <p>Images are also supported, as are tables. You can fall-back to HTML if you wish, although obviously we prefer that isn't used.</p>
        <h2>Tables</h2>
        <blockquote>
          <p>This is a sample table:</p>
<pre>
| Object   | Alive?   |
| :------- | -------: |
| Cat      | Yes      |
| Table    | No       |
</pre>
           <p>Note the use of <tt>:</tt> to control the centering of the table-cell items.</p>
        </blockquote>
        <h2>Images</h2>
        <blockquote>
<pre>
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
</pre>
</blockquote>
</blockquote>
</div>
<div class="clear"> </div>
<!-- tmpl_include name='footer.inc' -->
</div>
<!-- tmpl_include name='k.inc' -->
</body>
</html>
