<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <head>
    <title>MarkdownShare : Simple Markdown sharing</title>
    <link rel="stylesheet" type="text/css" href="/css/c.css" title="Default" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  </head>
  <body>
<!-- tmpl_include name='header.inc' -->
    <p>&nbsp;</p>
    <!-- tmpl_if name='html' -->
    <h1>Your Markdown Preview</h1>
    <blockquote>
      <!-- tmpl_var name='html' -->
    </blockquote>
    <!-- /tmpl_if -->


    <h1>Enter Your Markdown</h1>
    <blockquote>
      <form action="/create" method="POST" >
        <div class="ta">
          <textarea rows="40" cols="200" name="text"><!-- tmpl_var name="content" --></textarea>
        </div>
        <p>
          <input type="hidden" name="mode" value="create" />
          <input type="submit" name="submit" value="Preview" />
          <input type="submit" name="submit" value="Create" />
        </p>
      </form>
    </blockquote>
    <p></p>
  </body>
</html>
