<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Quick and easy sharing of markdown text" />
<meta name="keywords" content="markdown, pastebin, markdownsharing, sharing markdown" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="author" href="/humans.txt" />
<title>MarkdownShare : Simple Markdown sharing</title>
</head>
<body>
<div id="wrap">
<!-- tmpl_include name='header.inc' -->
<div id="content">
      <h1>Markdown Sharing</h1>
      <blockquote>
        <p>This site allows you to easily paste some Markdown-formatted text, and then share the rendered result with the world.</p>
        <p>In short this is a "markdown-using pastebin" site.</p>
        <ul>
          <li>No charge to use the site.</li>
          <li>No account creation required.</li>
          <li>No restriction on textual content.</li>
        </ul>
        <p>Get started <a href="/create">sharing your markdown</a> text - you can do so programmatically via <a href="/api/">our API</a> if you prefer.</p>
      </blockquote>
      <h2>Future Changes?</h2>
      <blockquote>
        <p>If you have any feature-requests, or suggestions, please do <a href="http://steve.org.uk/contact/">drop me a mail</a>, or report a bug against the <a href="https://github.com/skx/markdown.share/">github project</a>.</p>
        <p>Possible enhancements for the future:</p>
        <ul>
          <li>Allow edits to be made by the uploader.</li>
          <li>Allow text to expire after a day, week, or month.</li>
          <li>Your idea here?</li>
        </ul>
      </blockquote>
</div>
<div class="clear"> </div>
<!-- tmpl_include name='footer.inc' -->
</div>
<!-- tmpl_include name='k.inc' -->
</body>
</html>
