<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <head>
    <title>MarkdownShare : Simple Markdown sharing</title>
    <link rel="stylesheet" type="text/css" href="/css/c.css" title="Default" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1><a href="/"><b>MarkdownShare</b></a></h1>
        <h4>Simple sharing of markdown text</h4>
      </div>
      <div id="links">
        <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/create/" title="Create">Create</a></li>
        </ul>
      </div>
    </div>
    <p>&nbsp;</p>
    <blockquote>
      <h1>Markdown Sharing</h1>
      <blockquote>
        <p>This site allows you to easily paste some Markdown-formatted text, and then share the rendered result with the world.</p>
        <p>In short this is a "markdown-using pastebin" site.</p>
        <ul>
          <li>No charge to use the site.</li>
          <li>No account creation required.</li>
          <li>No restriction on textual content.</li>
        </ul>
        <p>Get started <a href="/create">sharing your markdown</a> text.</p>
      </blockquote>
      <h2>API</h2>
      <blockquote>
        <p>Rather than using the website you may also submit text by POSTing your data directly to the <a href="/create">creation end-point</a>:</p>
<pre>
$ curl -H "Accept: application/json" -X POST --data "text=text+goes+here" <!-- tmpl_var name='domain' -->/create/
</pre>
<p>Or by reading the contents from a file:</p>
<pre>
$ curl -H "Accept: application/json" -X POST -F "text=&lt;/path/to/text.md" <!-- tmpl_var name='domain' -->/create/
</pre>
<p>There are many command-line paste-clients out there.  If you've got <tt>pastebinit</tt> installed you can save <a href="/markdownshare.com.conf">this file</a> beneath <tt>/usr/share/pastebin.d/</tt> and use this site directly:</p>
<pre>
shelob ~ $ uptime | pastebinit -b http://markdownshare.com/
http://markdownshare.com/view/11
</pre>
      </blockquote>
      <h2>Future Changes?</h2>
      <blockquote>
        <p>If you have any feature-requests, or suggestions, please do <a href="http://steve.org.uk/contact/">drop me a mail</a>.</p>
        <p>Possible changes for the future:</p>
        <ul>
          <li>Allow edits to be made by the uploader.</li>
          <li>Allow text to expire after a day, week, or month.</li>
          <li>Allow the raw markdown text to be viewed as well as the rendered HTML.</li>
          <li>Your idea here?</li>
        </ul>

      </blockquote>
    </blockquote>
    <p></p>
  </body>
</html>

