<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Quick and easy sharing of markdown text" />
<meta name="keywords" content="markdown, pastebin, markdownsharing, sharing markdown" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="author" href="/humans.txt" />
<title>MarkdownShare : Simple Markdown sharing</title>
</head>
<body>
<div id="wrap">
<!-- tmpl_include name='header.inc' -->
<div id="content">
      <h1>Markdown Sharing</h1>
      <blockquote>
        <p>This site allows you to easily share Markdown-formatted text, allowing others to view the nicely rendered result.</p>
        <p>In short this is a "markdown-using pastebin" site.</p>
        <ul>
          <li>There is no charge to use the site.</li>
          <li>You don't need to create an account.
            <ul>
              <li>If you make a mistake and upload content you didn't mean to you can delete it.</li>
              <li>Once you've uploaded your markdown you can return in the future and edit it.</li>
              <li>Uploaded text automatically has an obfusticated URL to avoid spidering attempts.</li>
            </ul>
          </li>
          <li>There are no arbitrary restrictions on uploaded content.</li>
          <li>There is full support for emoji in your content:
            <ul>
              <li>For example <tt>:smile:</tt>, <tt>:mute:</tt>, <tt>:plus1</tt>, etc.</li>
            </ul>
          </li>
          <li>The code behind the site is open, and if you wish you can easily install your own copy.</li>
        </ul>
        <p>Get started <a href="/create">sharing your markdown</a> is very easy, just visit the <a href="/create/">create link</a> and away you go.</p>
        <p>If you prefer to submit without using a browser that is possible, via our simple <a href="/api/">submission API</a> which supports the use of HTTP-POSTS, or command-line clients such as <tt>pastebinit</tt>.</p>
      </blockquote>

      <h2>Future Changes?</h2>
      <blockquote>
        <p>If you have any feature-requests, or suggestions, please do <a href="http://steve.org.uk/contact/">drop me a mail</a>, or report a bug against the <a href="https://github.com/skx/markdown.share/">github project</a>.</p>
        <p>Possible enhancements for the future:</p>
        <ul>
          <li>Allow text to expire after a day, week, or month.</li>
          <li>Your idea here?</li>
        </ul>
      </blockquote>
</div>
<div class="clear"> </div>
<!-- tmpl_include name='footer.inc' -->
</div>
<!-- tmpl_include name='k.inc' -->
</body>
</html>
