<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="author" href="/humans.txt" />
<meta name="description" content="Quick and easy sharing of markdown text" />
<meta name="keywords" content="markdown, pastebin, markdownsharing, sharing markdown" />
<title>MarkdownShare : <!-- tmpl_var name='id' --></title>
</head>
<body>
<div id="wrap">
<!-- tmpl_include name='header.inc' -->
<div id="content">
<!-- tmpl_if name='flash' -->
<div style="border: 1px solid red;">
<p>The following links should be saved for future use - <b>They will not be shown again</b>:</p>
<ul>
<li><a href="/delete/<!-- tmpl_var name='flash' -->">Delete Content</a></li>
<li><a href="/edit/<!-- tmpl_var name='flash' -->">Edit Content</a></li>
</ul>
</div>
<!-- /tmpl_if -->
<!-- tmpl_if name='html' -->
    <blockquote>
      <!-- tmpl_var name='html' -->
      <p style="text-align: right;"><a href="/raw/<!-- tmpl_var name='id' -->">View the RAW markdown</a>.</p>
    </blockquote>
<!-- tmpl_else -->
    <h1>Not Found</h1>
    <blockquote>
      <p>The rendered Markdown you were looking for is not here.</p>
    </blockquote>
<!-- /tmpl_if -->
</div>
<div class="clear"> </div>
<!-- tmpl_include name='footer.inc' -->
</div>
<!-- tmpl_include name='k.inc' -->
</body>
</html>
