<html>
  <head>
    <title>View <!-- tmpl_var name='id' --></title>
  </head>
  <body>
    <h2>View #<!-- tmpl_var name='id' --></h2>
<div style="border:1px solid black;">
<!-- tmpl_var name='html' -->
</div>
  </body>
</html>
